services:
  gzcaas:
    restart: always
    image: ${SERVICE_IMAGE_REGISTRY}/whatwewant/gzcaas:${SERVICE_GZCAAS_IMAGE_VERSION}
    ports:
      - 0.0.0.0:${SERVICE_GZCAAS_PORT}:8838
    privileged: true
    environment:
      # CAAS_SERVER_URL: ${SERVICE_GZCAAS_SERVER_URL}
      CAAS_CLIENT_ID: ${SERVICE_GZCAAS_CLIENT_ID}
      CAAS_CLIENT_SECRET: ${SERVICE_GZCAAS_CLIENT_SECRET}
    # env_file:
    #  - $SERVICE_CONFIG
    # mem_limit: ${SERVICE_GZCAAS_MEM_LIMIT:-16384m} 
    mem_limit: ${SERVICE_GZCAAS_MEM_LIMIT}
    cpus: ${SERVICE_GZCAAS_CPU_LIMIT}
    # command: sleep 1000000000
      
networks:
  default:
    external: true
    # name: compose-ingress
    # name: gzcaas
    name: cicd
